<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/profilepage.css">
    <title>Document</title>
</head>
<body>
    <div class="container emp-profile">
        <% if(currentUser) { %>

      <!--    <form action="/sessions?_method=DELETE" method="POST">   -->
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                        <div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input type="file" name="file"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                                <h5>
                                   Welcome, <%=currentUser.firstname %> <%=currentUser.lastname %>
                                </h5>
                                <h6>
                                    Web Developer and Designer
                                </h6>
                                <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2">
                        

                    <!-- Modal -->
                 <!-- Button trigger modal -->
    <button type="submit" class="profile-edit-btn" name="btnAddMore"  data-toggle="modal" data-target="#exampleModalCenter">Edit Profile </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Update Personal Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <form action="/profilepage/<%=currentUser._id%>?_method=PUT" method="POST">
                <% console.log(currentUser._id) %>
                User ID: <input type="text" class="form-control" id="firstName" placeholder="" value="<%=currentUser.username%>" name="username"  ><br />
                Password: <input type="text" class="form-control" id="firstName" placeholder="" value="<%=currentUser.password%>" name="password"   ><br />
                First Name: <input type="text" class="form-control" id="firstName" placeholder="" value="<%=currentUser.firstname%>" name="firstname"  ><br />
                Last Name: <input type="text" class="form-control" id="firstName" placeholder="" value="<%=currentUser.lastname%>" name="lastname"   ><br />
                Email: <input type="text" class="form-control" id="firstName" placeholder="" value="<%=currentUser.email%>" name="email"   ><br />
                zipcode: <input type="text" class="form-control" id="firstName" placeholder="" value="<%=currentUser.zipcode%>" name="zipcode"   ><br />
                Bootcamp: <input type="text" class="form-control" id="firstName" placeholder="" value="<%=currentUser.codebootcamp%>" name="codebootcamp"  ><br />
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </form>           
        </div>
        <div class="modal-footer">
           <!---<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          <!----<button type="button" class="btn btn-primary">Save changes</button> --->
        </div>
      </div>
    </div>
  </div>   

 <!-- Modal -->








              
  <input type="submit" value="Logout" class="profile-edit-btn"/>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <p>WORK LINK</p>
                        <a href="">Website Link</a><br/>
                        <a href="">Bootsnipp Profile</a><br/>
                        <a href="">Bootply Profile</a>
                        <p>SKILLS</p>
                        <a href="">Web Designer</a><br/>
                        <a href="">Web Developer</a><br/>
                        <a href="">WordPress</a><br/>
                        <a href="">WooCommerce</a><br/>
                        <a href="">PHP, .Net</a><br/>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>User Id</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p><%=currentUser.username %></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p><%=currentUser.firstname %> <%=currentUser.lastname %></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p><%=currentUser.email %></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Phone</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>123 456 7890</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Bootcamp</label>
                                        </div> 
                                        <div class="col-md-6">
                                            <p><%=currentUser.codebootcamp %></p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Zipcode</label>
                                        </div> 
                                        <div class="col-md-6">
                                            <p><%=currentUser.zipcode %></p>
                                        </div>
                                    </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Experience</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Expert</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Hourly Rate</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>10$/hr</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Total Projects</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>230</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>English Level</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Expert</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Availability</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>6 months</p>
                                        </div>
                                    </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Your Bio</label><br/>
                                    <p>Your detail description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       <!--  </form> -->
        
        <% } %>
    </div>
</body>
</html>